# Boston Airbnb Open Data

This data set was obtained from [Kaggle](https://www.kaggle.com/datasets/airbnb/boston).

this dataset describes the listing activity of homestays in Boston, MA.

The following Airbnb activity is included in this Boston dataset:

 - Listings, including full descriptions and average review score
 - Reviews, including unique id for each reviewer and detailed comments
 - Calendar, including listing id and the price and availability for that day

## Import Functions

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('airbnb_boston/listings.csv')

reviews=pd.read_csv('airbnb_boston/reviews.csv')

calendar=pd.read_csv('airbnb_boston/calendar.csv')

df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,1.00
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,10.0,f,NaN,NaN,f,flexible,f,f,1,2.25

In [7]:
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,1178162,4724140,2013-05-21,4298113,Olivier,My stay at islam's place was really cool! Good...
1,1178162,4869189,2013-05-29,6452964,Charlotte,Great location for both airport and city - gre...
2,1178162,5003196,2013-06-06,6449554,Sebastian,We really enjoyed our stay at Islams house. Fr...
3,1178162,5150351,2013-06-15,2215611,Marine,The room was nice and clean and so were the co...
4,1178162,5171140,2013-06-16,6848427,Andrew,Great location. Just 5 mins walk from the Airp...

In [11]:
calendar.head()

   listing_id        date available price
0    12147973  2017-09-05         f   NaN
1    12147973  2017-09-04         f   NaN
2    12147973  2017-09-03         f   NaN
3    12147973  2017-09-02         f   NaN
4    12147973  2017-09-01         f   NaN

In [4]:
df.shape

(3585, 95)

In [7]:
df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       'notes', 'transit', 'access', 'interaction', 'house_rules',
       'thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url',
       'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url',
       'host_picture_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'reviews_per_month'],
      dtype='object')

In [13]:
selected_columns=['id', 'listing_url', 'neighbourhood_cleansed',
       'city', 'state', 'zipcode', 'latitude', 'longitude','host_name',
       'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price','review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value']

df1=df[selected_columns]

df1.head()

,id,listing_url,neighbourhood_cleansed,city,state,zipcode,latitude,longitude,host_name,property_type,...,amenities,square_feet,price,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,12147973,https://www.airbnb.com/rooms/12147973,Roslindale,Boston,MA,02131,42.282619,-71.133068,Virginia,House,...,"{TV,""Wireless Internet"",Kitchen,""Free Parking ...",NaN,$250.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,Roslindale,Boston,MA,02131,42.286241,-71.134374,Andrea,Apartment,...,"{TV,Internet,""Wireless Internet"",""Air Conditio...",NaN,$65.00,94.0,10.0,9.0,10.0,10.0,9.0,9.0
2,6976,https://www.airbnb.com/rooms/6976,Roslindale,Boston,MA,02131,42.292438,-71.135765,Phil,Apartment,...,"{TV,""Cable TV"",""Wireless Internet"",""Air Condit...",NaN,$65.00,98.0,10.0,9.0,10.0,10.0,9.0,10.0
3,1436513,https://www.airbnb.com/rooms/1436513,Roslindale,Boston,MA,NaN,42.281106,-71.121021,Meghna,House,...,"{TV,Internet,""Wireless Internet"",""Air Conditio...",NaN,$75.00,100.0,10.0,10.0,10.0,10.0,10.0,10.0
4,7651065,https://www.airbnb.com/rooms/7651065,Roslindale,Boston,MA,02131,42.284512,-71.136258,Linda,House,...,"{Internet,""Wireless Internet"",""Air Conditionin...",NaN,$79.00,99.0,10.0,10.0,10.0,10.0,9.0,10.0

In [14]:
df1.dtypes

id                               int64
listing_url                     object
neighbourhood_cleansed          object
city                            object
state                           object
zipcode                         object
latitude                       float64
longitude                      float64
host_name                       object
property_type                   object
room_type                       object
accommodates                     int64
bathrooms                      float64
bedrooms                       float64
beds                           float64
bed_type                        object
amenities                       object
square_feet                    float64
price                           object
review_scores_rating           float64
review_scores_accuracy         float64
review_scores_cleanliness      float64
review_scores_checkin          float64
review_scores_communication    float64
review_scores_location         float64
review_scores_value            float64
dtype: object

In [15]:
df1['price'].head()

0    $250.00
1     $65.00
2     $65.00
3     $75.00
4     $79.00
Name: price, dtype: object

In [25]:
# price is a string

# remove $ and thousand seperator ,

df1['price_cleaned']=df1['price'].str.replace('$',"").str.replace(',',"")

# convert price from string to int

df1['price_cleaned']=df1['price_cleaned'].astype(float)

#df1.loc[:, 'price_cleaned']=df1.loc[:, 'price_cleaned'].astype(float)

df1.head()

C:\Users\sli\AppData\Local\Temp/ipykernel_23628/2825054324.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['price_cleaned']=df1['price'].str.replace('$',"").str.replace(',',"")
C:\Users\sli\AppData\Local\Temp/ipykernel_23628/2825054324.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['price_cleaned']=df1['price_cleaned'].astype(float)

,id,listing_url,neighbourhood_cleansed,city,state,zipcode,latitude,longitude,host_name,property_type,...,square_feet,price,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,price_cleaned
0,12147973,https://www.airbnb.com/rooms/12147973,Roslindale,Boston,MA,02131,42.282619,-71.133068,Virginia,House,...,NaN,$250.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,250.0
1,3075044,https://www.airbnb.com/rooms/3075044,Roslindale,Boston,MA,02131,42.286241,-71.134374,Andrea,Apartment,...,NaN,$65.00,94.0,10.0,9.0,10.0,10.0,9.0,9.0,65.0
2,6976,https://www.airbnb.com/rooms/6976,Roslindale,Boston,MA,02131,42.292438,-71.135765,Phil,Apartment,...,NaN,$65.00,98.0,10.0,9.0,10.0,10.0,9.0,10.0,65.0
3,1436513,https://www.airbnb.com/rooms/1436513,Roslindale,Boston,MA,NaN,42.281106,-71.121021,Meghna,House,...,NaN,$75.00,100.0,10.0,10.0,10.0,10.0,10.0,10.0,75.0
4,7651065,https://www.airbnb.com/rooms/7651065,Roslindale,Boston,MA,02131,42.284512,-71.136258,Linda,House,...,NaN,$79.00,99.0,10.0,10.0,10.0,10.0,9.0,10.0,79.0

In [26]:
df1[['price', 'price_cleaned']]

        price  price_cleaned
0     $250.00          250.0
1      $65.00           65.0
2      $65.00           65.0
3      $75.00           75.0
4      $79.00           79.0
...       ...            ...
3580   $69.00           69.0
3581  $150.00          150.0
3582  $198.00          198.0
3583   $65.00           65.0
3584   $65.00           65.0

[3585 rows x 2 columns]

# Describing and Summarizing the data

In [104]:
# summarize numerial columns

In [105]:
# summarize categorical columns

In [106]:
# summarize both numerical/categorical columns

In [107]:
# display general information of the data set

In [109]:
# display average price, highest and lowest price

In [108]:
# what are different type of beds available in airbnb?

# Gradding subsets of the data

## Select columns

In [112]:
# select bed_type

#df1['bed_type']

df1.bed_type

0       Real Bed
1       Real Bed
2       Real Bed
3       Real Bed
4       Real Bed
          ...
3580    Real Bed
3581    Real Bed
3582    Real Bed
3583    Real Bed
3584    Real Bed
Name: bed_type, Length: 3585, dtype: object

In [113]:
# select more than one columns: bed_type and room type

In [114]:
# select all columns starting with review_score

In [115]:
# select categorical columns

In [116]:
# slicing
# select the first five rows



# for the first five rows, display id, neighbourhood_clenased, host_name and price

In [117]:
# for the first five rows, display id, neighbourhood_clenased, host_name and price
# select by column name, use loc

In [118]:
# select by index, use iloc

# Filtering

In [119]:
# find all listing with price over 1000
# option 1

In [120]:
# find all listing with price over 1000
# option 2, use query

In [121]:
# find the most expensive listing
# option 1

In [122]:
# find the most expensive listing
# option 2, use idxmax()

In [123]:
# find all listing in neighbourhodd Back bay with a price less than 200

In [124]:
# find all listing in neighbourhodd Back bay with a price less than 200
# display id, property_type and room_type

In [125]:
# display top 5 neighbourhood in the dataset

In [126]:
# find all listings in either back bay or south end, with a price between 100 and 150. 
# display id, property_type, room_type, and price_cleaned

# Adding/Removing columns

In [127]:
# add a price indicator to show whether price is over 1000

In [128]:
# create a column price_level, if price is less than 200, price level is Low, if price is between 200 and 500, the levei is medium, 
# if price is between 501 and 1000, the level is high, and if price is over 1000, the price is very high

In [129]:
# drop the first two rows

In [130]:
# drop column state

# Take home assignments

## Complete the following six questions by the due date. Please submit the completed notebook by the due date

- 1. Calcuate summary statistics of review scores rating for all listing in Fenway
- 2. find all listings in Fenway with review score rating over 80 and more than two bedrooms
- 3. find percentage of listing with a price over $500
- 4. create a column review_score_stars based on review scores rating, if rating is over and equal to 80, five stars, if rating is between 60 and 79, 4 stars, if rating is between 40 and 59, 3 stars, if rating is between 20 and 39, 2 starts, if rating is less than or equal to 20, 1 star
- 5. find the listings with more than 3 bedrooms, display the listing with the highest review score in cleanliness 
- 6. create a column review_score_total that addes the six review scores: accuracy, cleanliness, checkin, communication, locations,and value

In [4]:
# import the listings, select columns and convert price from string to float

df=pd.read_csv('airbnb_boston/listings.csv')

selected_columns=['id', 'listing_url', 'neighbourhood_cleansed',
       'city', 'state', 'zipcode', 'latitude', 'longitude','host_name',
       'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price','review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value']

df1=df[selected_columns]

# price is a string

# remove $ and thousand seperator ,

df1['price_cleaned']=df1['price'].str.replace('$',"").str.replace(',',"")

# convert price from string to int

df1['price_cleaned']=df1['price_cleaned'].astype(float)

#df1.loc[:, 'price_cleaned']=df1.loc[:, 'price_cleaned'].astype(float)

df1.head()

C:\Users\sli\AppData\Local\Temp/ipykernel_32516/1611994140.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['price_cleaned']=df1['price'].str.replace('$',"").str.replace(',',"")
C:\Users\sli\AppData\Local\Temp/ipykernel_32516/1611994140.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['price_cleaned']=df1['price_cleaned'].astype(float)

,id,listing_url,neighbourhood_cleansed,city,state,zipcode,latitude,longitude,host_name,property_type,...,square_feet,price,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,price_cleaned
0,12147973,https://www.airbnb.com/rooms/12147973,Roslindale,Boston,MA,02131,42.282619,-71.133068,Virginia,House,...,NaN,$250.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,250.0
1,3075044,https://www.airbnb.com/rooms/3075044,Roslindale,Boston,MA,02131,42.286241,-71.134374,Andrea,Apartment,...,NaN,$65.00,94.0,10.0,9.0,10.0,10.0,9.0,9.0,65.0
2,6976,https://www.airbnb.com/rooms/6976,Roslindale,Boston,MA,02131,42.292438,-71.135765,Phil,Apartment,...,NaN,$65.00,98.0,10.0,9.0,10.0,10.0,9.0,10.0,65.0
3,1436513,https://www.airbnb.com/rooms/1436513,Roslindale,Boston,MA,NaN,42.281106,-71.121021,Meghna,House,...,NaN,$75.00,100.0,10.0,10.0,10.0,10.0,10.0,10.0,75.0
4,7651065,https://www.airbnb.com/rooms/7651065,Roslindale,Boston,MA,02131,42.284512,-71.136258,Linda,House,...,NaN,$79.00,99.0,10.0,10.0,10.0,10.0,9.0,10.0,79.0

In [97]:
df1.shape

(3585, 27)

 1. Calcuate summary statistics of review scores rating for all listing in Fenway

2. find all listings in Fenway with review score rating over 80 and more than two bedrooms

3. find percentage of listing with a price over $500

 4. create a column review_score_stars based on review scores rating, if rating is over and equal to 80, five stars, if rating is between 60 and 79, 4 stars, if rating is between 40 and 59, 3 stars, if rating is between 20 and 39, 2 starts, if rating is less than or equal to 20, 1 star

 5. find the listings with more than 3 bedrooms, find the listing with the highest review score in cleanliness

6. create a column review_score_total that addes the six review scores together: accuracy, cleanliness, checkin, communication, locations,and value