# Boston Airbnb Open Data

This data set was obtained from [Kaggle](https://www.kaggle.com/datasets/airbnb/boston).

this dataset describes the listing activity of homestays in Boston, MA.

The following Airbnb activity is included in this Boston dataset:

 - Listings, including full descriptions and average review score
 - Reviews, including unique id for each reviewer and detailed comments
 - Calendar, including listing id and the price and availability for that day

## Import Functions

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('airbnb_boston/listings.csv')

reviews=pd.read_csv('airbnb_boston/reviews.csv')

calendar=pd.read_csv('airbnb_boston/calendar.csv')

df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,1.00
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,10.0,f,NaN,NaN,f,flexible,f,f,1,2.25

In [7]:
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,1178162,4724140,2013-05-21,4298113,Olivier,My stay at islam's place was really cool! Good...
1,1178162,4869189,2013-05-29,6452964,Charlotte,Great location for both airport and city - gre...
2,1178162,5003196,2013-06-06,6449554,Sebastian,We really enjoyed our stay at Islams house. Fr...
3,1178162,5150351,2013-06-15,2215611,Marine,The room was nice and clean and so were the co...
4,1178162,5171140,2013-06-16,6848427,Andrew,Great location. Just 5 mins walk from the Airp...

In [11]:
calendar.head()

   listing_id        date available price
0    12147973  2017-09-05         f   NaN
1    12147973  2017-09-04         f   NaN
2    12147973  2017-09-03         f   NaN
3    12147973  2017-09-02         f   NaN
4    12147973  2017-09-01         f   NaN

In [4]:
df.shape

(3585, 95)

In [7]:
df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       'notes', 'transit', 'access', 'interaction', 'house_rules',
       'thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url',
       'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url',
       'host_picture_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'reviews_per_month'],
      dtype='object')

In [13]:
selected_columns=['id', 'listing_url', 'neighbourhood_cleansed',
       'city', 'state', 'zipcode', 'latitude', 'longitude','host_name',
       'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price','review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value']

df1=df[selected_columns]

df1.head()

,id,listing_url,neighbourhood_cleansed,city,state,zipcode,latitude,longitude,host_name,property_type,...,amenities,square_feet,price,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,12147973,https://www.airbnb.com/rooms/12147973,Roslindale,Boston,MA,02131,42.282619,-71.133068,Virginia,House,...,"{TV,""Wireless Internet"",Kitchen,""Free Parking ...",NaN,$250.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,Roslindale,Boston,MA,02131,42.286241,-71.134374,Andrea,Apartment,...,"{TV,Internet,""Wireless Internet"",""Air Conditio...",NaN,$65.00,94.0,10.0,9.0,10.0,10.0,9.0,9.0
2,6976,https://www.airbnb.com/rooms/6976,Roslindale,Boston,MA,02131,42.292438,-71.135765,Phil,Apartment,...,"{TV,""Cable TV"",""Wireless Internet"",""Air Condit...",NaN,$65.00,98.0,10.0,9.0,10.0,10.0,9.0,10.0
3,1436513,https://www.airbnb.com/rooms/1436513,Roslindale,Boston,MA,NaN,42.281106,-71.121021,Meghna,House,...,"{TV,Internet,""Wireless Internet"",""Air Conditio...",NaN,$75.00,100.0,10.0,10.0,10.0,10.0,10.0,10.0
4,7651065,https://www.airbnb.com/rooms/7651065,Roslindale,Boston,MA,02131,42.284512,-71.136258,Linda,House,...,"{Internet,""Wireless Internet"",""Air Conditionin...",NaN,$79.00,99.0,10.0,10.0,10.0,10.0,9.0,10.0

In [14]:
df1.dtypes

id                               int64
listing_url                     object
neighbourhood_cleansed          object
city                            object
state                           object
zipcode                         object
latitude                       float64
longitude                      float64
host_name                       object
property_type                   object
room_type                       object
accommodates                     int64
bathrooms                      float64
bedrooms                       float64
beds                           float64
bed_type                        object
amenities                       object
square_feet                    float64
price                           object
review_scores_rating           float64
review_scores_accuracy         float64
review_scores_cleanliness      float64
review_scores_checkin          float64
review_scores_communication    float64
review_scores_location         float64
review_scores_value            float64
dtype: object

In [15]:
df1['price'].head()

0    $250.00
1     $65.00
2     $65.00
3     $75.00
4     $79.00
Name: price, dtype: object

In [25]:
# price is a string

# remove $ and thousand seperator ,

df1['price_cleaned']=df1['price'].str.replace('$',"").str.replace(',',"")

# convert price from string to int

df1['price_cleaned']=df1['price_cleaned'].astype(float)

#df1.loc[:, 'price_cleaned']=df1.loc[:, 'price_cleaned'].astype(float)

df1.head()

C:\Users\sli\AppData\Local\Temp/ipykernel_23628/2825054324.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['price_cleaned']=df1['price'].str.replace('$',"").str.replace(',',"")
C:\Users\sli\AppData\Local\Temp/ipykernel_23628/2825054324.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['price_cleaned']=df1['price_cleaned'].astype(float)

,id,listing_url,neighbourhood_cleansed,city,state,zipcode,latitude,longitude,host_name,property_type,...,square_feet,price,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,price_cleaned
0,12147973,https://www.airbnb.com/rooms/12147973,Roslindale,Boston,MA,02131,42.282619,-71.133068,Virginia,House,...,NaN,$250.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,250.0
1,3075044,https://www.airbnb.com/rooms/3075044,Roslindale,Boston,MA,02131,42.286241,-71.134374,Andrea,Apartment,...,NaN,$65.00,94.0,10.0,9.0,10.0,10.0,9.0,9.0,65.0
2,6976,https://www.airbnb.com/rooms/6976,Roslindale,Boston,MA,02131,42.292438,-71.135765,Phil,Apartment,...,NaN,$65.00,98.0,10.0,9.0,10.0,10.0,9.0,10.0,65.0
3,1436513,https://www.airbnb.com/rooms/1436513,Roslindale,Boston,MA,NaN,42.281106,-71.121021,Meghna,House,...,NaN,$75.00,100.0,10.0,10.0,10.0,10.0,10.0,10.0,75.0
4,7651065,https://www.airbnb.com/rooms/7651065,Roslindale,Boston,MA,02131,42.284512,-71.136258,Linda,House,...,NaN,$79.00,99.0,10.0,10.0,10.0,10.0,9.0,10.0,79.0

In [26]:
df1[['price', 'price_cleaned']]

        price  price_cleaned
0     $250.00          250.0
1      $65.00           65.0
2      $65.00           65.0
3      $75.00           75.0
4      $79.00           79.0
...       ...            ...
3580   $69.00           69.0
3581  $150.00          150.0
3582  $198.00          198.0
3583   $65.00           65.0
3584   $65.00           65.0

[3585 rows x 2 columns]

# Describing and Summarizing the data

In [23]:
# summarize numerial columns

df1.describe()

,id,latitude,longitude,accommodates,bathrooms,bedrooms,beds,square_feet,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
count,3.585000e+03,3585.000000,3585.000000,3585.000000,3571.000000,3575.000000,3576.000000,56.000000,2772.000000,2762.000000,2767.000000,2765.000000,2767.000000,2763.000000,2764.000000
mean,8.440875e+06,42.340032,-71.084818,3.041283,1.221647,1.255944,1.609060,858.464286,91.916667,9.431571,9.258041,9.646293,9.646549,9.414043,9.168234
std,4.500787e+06,0.024403,0.031565,1.778929,0.501487,0.753060,1.011745,608.874310,9.531686,0.931863,1.168977,0.762753,0.735507,0.903436,1.011116
min,3.353000e+03,42.235942,-71.171789,1.000000,0.000000,0.000000,0.000000,0.000000,20.000000,2.000000,2.000000,2.000000,4.000000,2.000000,2.000000
25%,4.679319e+06,42.329995,-71.105083,2.000000,1.000000,1.000000,1.000000,415.000000,89.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000
50%,8.577620e+06,42.345201,-71.078429,2.000000,1.000000,1.000000,1.000000,825.000000,94.000000,10.000000,10.000000,10.000000,10.000000,10.000000,9.000000
75%,1.278953e+07,42.354685,-71.062155,4.000000,1.000000,2.000000,2.000000,1200.000000,98.250000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
max,1.493346e+07,42.389982,-71.000100,16.000000,6.000000,5.000000,16.000000,2400.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [27]:
# summarize categorical columns

df1.describe(include=np.object)

,listing_url,neighbourhood_cleansed,city,state,zipcode,host_name,property_type,room_type,bed_type,amenities,price
count,3585,3585,3583,3585,3547,3585,3582,3585,3585,3585,3585
unique,3585,25,38,1,43,1334,13,3,5,3092,324
top,https://www.airbnb.com/rooms/6006328,Jamaica Plain,Boston,MA,02116,Kara,Apartment,Entire home/apt,Real Bed,{},$150.00
freq,1,343,3381,3585,388,138,2612,2127,3453,32,144

In [30]:
# summarize both numerical/categorical columns
df1.describe(include='all')

,id,listing_url,neighbourhood_cleansed,city,state,zipcode,latitude,longitude,host_name,property_type,...,square_feet,price,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,price_cleaned
count,3.585000e+03,3585,3585,3583,3585,3547,3585.000000,3585.000000,3585,3582,...,56.000000,3585,2772.000000,2762.000000,2767.000000,2765.000000,2767.000000,2763.000000,2764.000000,3585.000000
unique,NaN,3585,25,38,1,43,NaN,NaN,1334,13,...,NaN,324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,https://www.airbnb.com/rooms/6006328,Jamaica Plain,Boston,MA,02116,NaN,NaN,Kara,Apartment,...,NaN,$150.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,1,343,3381,3585,388,NaN,NaN,138,2612,...,NaN,144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,8.440875e+06,NaN,NaN,NaN,NaN,NaN,42.340032,-71.084818,NaN,NaN,...,858.464286,NaN,91.916667,9.431571,9.258041,9.646293,9.646549,9.414043,9.168234,173.925802
std,4.500787e+06,NaN,NaN,NaN,NaN,NaN,0.024403,0.031565,NaN,NaN,...,608.874310,NaN,9.531686,0.931863,1.168977,0.762753,0.735507,0.903436,1.011116,148.331321
min,3.353000e+03,NaN,NaN,NaN,NaN,NaN,42.235942,-71.171789,NaN,NaN,...,0.000000,NaN,20.000000,2.000000,2.000000,2.000000,4.000000,2.000000,2.000000,10.000000
25%,4.679319e+06,NaN,NaN,NaN,NaN,NaN,42.329995,-71.105083,NaN,NaN,...,415.000000,NaN,89.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,85.000000
50%,8.577620e+06,NaN,NaN,NaN,NaN,NaN,42.345201,-71.078429,NaN,NaN,...,825.000000,NaN,94.000000,10.000000,10.000000,10.000000,10.000000,10.000000,9.000000,150.000000
75%,1.278953e+07,NaN,NaN,NaN,NaN,NaN,42.354685,-71.062155,NaN,NaN,...,1200.000000,NaN,98.250000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,220.000000
max,1.493346e+07,NaN,NaN,NaN,NaN,NaN,42.389982,-71.000100,NaN,NaN,...,2400.000000,NaN,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4000.000000

In [31]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3585 entries, 0 to 3584
Data columns (total 27 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           3585 non-null   int64
 1   listing_url                  3585 non-null   object
 2   neighbourhood_cleansed       3585 non-null   object
 3   city                         3583 non-null   object
 4   state                        3585 non-null   object
 5   zipcode                      3547 non-null   object
 6   latitude                     3585 non-null   float64
 7   longitude                    3585 non-null   float64
 8   host_name                    3585 non-null   object
 9   property_type                3582 non-null   object
 10  room_type                    3585 non-null   object
 11  accommodates                 3585 non-null   int64
 12  bathrooms                    3571 non-null   float64
 13  bedrooms                     3575 non-null   float64
 14  beds                         3576 non-null   float64
 15  bed_type                     3585 non-null   object
 16  amenities                    3585 non-null   object
 17  square_feet                  56 non-null     float64
 18  price                        3585 non-null   object
 19  review_scores_rating         2772 non-null   float64
 20  review_scores_accuracy       2762 non-null   float64
 21  review_scores_cleanliness    2767 non-null   float64
 22  review_scores_checkin        2765 non-null   float64
 23  review_scores_communication  2767 non-null   float64
 24  review_scores_location       2763 non-null   float64
 25  review_scores_value          2764 non-null   float64
 26  price_cleaned                3585 non-null   float64
dtypes: float64(14), int64(2), object(11)
memory usage: 756.3+ KB

In [140]:
# display average price, highest and lowest price

df1['price_cleaned'].mean(), df1['price_cleaned'].max(), df1['price_cleaned'].min()

(163.85885240871434, 1372.0, 1.0)

In [32]:
# what are different type of beds available in airbnb?

df1['bed_type'].value_counts()

Real Bed         3453
Futon              51
Airbed             40
Pull-out Sofa      31
Couch              10
Name: bed_type, dtype: int64

# Gradding subsets of the data

## Select columns

In [33]:
#df1.bed_type

df1['bed_type']

0       Real Bed
1       Real Bed
2       Real Bed
3       Real Bed
4       Real Bed
          ...
3580    Real Bed
3581    Real Bed
3582    Real Bed
3583    Real Bed
3584    Real Bed
Name: bed_type, Length: 3585, dtype: object

In [34]:
# select more than one columns:

df1[['bed_type', 'room_type']]

      bed_type        room_type
0     Real Bed  Entire home/apt
1     Real Bed     Private room
2     Real Bed     Private room
3     Real Bed     Private room
4     Real Bed     Private room
...        ...              ...
3580  Real Bed     Private room
3581  Real Bed     Private room
3582  Real Bed  Entire home/apt
3583  Real Bed     Private room
3584  Real Bed     Private room

[3585 rows x 2 columns]

In [38]:
# select all columns starting with review_score

cols=[col for col in df1.columns if col.startswith('review_scores')]

df1[cols]

,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,94.0,10.0,9.0,10.0,10.0,9.0,9.0
2,98.0,10.0,9.0,10.0,10.0,9.0,10.0
3,100.0,10.0,10.0,10.0,10.0,10.0,10.0
4,99.0,10.0,10.0,10.0,10.0,9.0,10.0
...,...,...,...,...,...,...,...
3580,90.0,10.0,10.0,10.0,10.0,8.0,9.0
3581,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3582,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3583,90.0,9.0,8.0,9.0,9.0,8.0,7.0
3584,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
# select categorical columns

cols=df1.dtypes[df1.dtypes=='object']

cols=list(cols.index)

df1[cols]

,listing_url,neighbourhood_cleansed,city,state,zipcode,host_name,property_type,room_type,bed_type,amenities,price
0,https://www.airbnb.com/rooms/12147973,Roslindale,Boston,MA,02131,Virginia,House,Entire home/apt,Real Bed,"{TV,""Wireless Internet"",Kitchen,""Free Parking ...",$250.00
1,https://www.airbnb.com/rooms/3075044,Roslindale,Boston,MA,02131,Andrea,Apartment,Private room,Real Bed,"{TV,Internet,""Wireless Internet"",""Air Conditio...",$65.00
2,https://www.airbnb.com/rooms/6976,Roslindale,Boston,MA,02131,Phil,Apartment,Private room,Real Bed,"{TV,""Cable TV"",""Wireless Internet"",""Air Condit...",$65.00
3,https://www.airbnb.com/rooms/1436513,Roslindale,Boston,MA,NaN,Meghna,House,Private room,Real Bed,"{TV,Internet,""Wireless Internet"",""Air Conditio...",$75.00
4,https://www.airbnb.com/rooms/7651065,Roslindale,Boston,MA,02131,Linda,House,Private room,Real Bed,"{Internet,""Wireless Internet"",""Air Conditionin...",$79.00
...,...,...,...,...,...,...,...,...,...,...,...
3580,https://www.airbnb.com/rooms/8373729,Charlestown,Somerville,MA,02143,Joe,Apartment,Private room,Real Bed,"{Internet,""Wireless Internet"",""Air Conditionin...",$69.00
3581,https://www.airbnb.com/rooms/14844274,Allston,Brookline,MA,02446,Ivy,Apartment,Private room,Real Bed,"{TV,Internet,""Wireless Internet"",""Air Conditio...",$150.00
3582,https://www.airbnb.com/rooms/14585486,Charlestown,Cambridge,MA,02141,Vera,Apartment,Entire home/apt,Real Bed,"{""translation missing: en.hosting_amenity_49"",...",$198.00
3583,https://www.airbnb.com/rooms/14603878,Charlestown,Somerville,MA,02145,Medi,Apartment,Private room,Real Bed,"{Kitchen,Gym,""Family/Kid Friendly"",Washer,Drye...",$65.00
3584,https://www.airbnb.com/rooms/14504422,Charlestown,Somerville,MA,02145,Rachel,Apartment,Private room,Real Bed,"{""Wireless Internet"",Kitchen,Essentials,""trans...",$65.00

In [52]:
# slicing
# select the first five rows
df1[0:5]

# for the first five rows, display id, neighbourhood_clenased, host_name and price

df1[['id', 'neighbourhood_cleansed', 'host_name', 'price']][0:5]

         id neighbourhood_cleansed host_name    price
0  12147973             Roslindale  Virginia  $250.00
1   3075044             Roslindale    Andrea   $65.00
2      6976             Roslindale      Phil   $65.00
3   1436513             Roslindale    Meghna   $75.00
4   7651065             Roslindale     Linda   $79.00

In [53]:
# for the first five rows, display id, neighbourhood_clenased, host_name and price
# select by column name, use loc

df1.loc[0:5,['id', 'neighbourhood_cleansed', 'host_name', 'price']]

         id neighbourhood_cleansed host_name    price
0  12147973             Roslindale  Virginia  $250.00
1   3075044             Roslindale    Andrea   $65.00
2      6976             Roslindale      Phil   $65.00
3   1436513             Roslindale    Meghna   $75.00
4   7651065             Roslindale     Linda   $79.00
5  12386020             Roslindale   Deborah   $75.00

In [58]:
# select by index, use iloc

df1.iloc[0:5, [0,2,8,18]]

         id neighbourhood_cleansed host_name    price
0  12147973             Roslindale  Virginia  $250.00
1   3075044             Roslindale    Andrea   $65.00
2      6976             Roslindale      Phil   $65.00
3   1436513             Roslindale    Meghna   $75.00
4   7651065             Roslindale     Linda   $79.00

# Filtering

In [59]:
# find all listing with price over 1000
# option 1
df1[df1.price_cleaned>1000]

,id,listing_url,neighbourhood_cleansed,city,state,zipcode,latitude,longitude,host_name,property_type,...,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,price_cleaned,total_review_scores,review_score_total
793,6093430,https://www.airbnb.com/rooms/6093430,Roxbury,Boston,MA,02118,42.338626,-71.083315,滢,Apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1400.0,NaN,NaN
1022,8303267,https://www.airbnb.com/rooms/8303267,South End,Boston,MA,02118,42.342415,-71.074519,Lisa,House,...,100.0,10.0,10.0,10.0,10.0,10.0,10.0,1300.0,20.0,60.0
1262,10882267,https://www.airbnb.com/rooms/10882267,Back Bay,Boston,MA,02116,42.349971,-71.081032,Erica,Apartment,...,100.0,10.0,10.0,10.0,10.0,10.0,10.0,1250.0,20.0,60.0
1896,14758045,https://www.airbnb.com/rooms/14758045,Beacon Hill,Boston,MA,02114,42.358002,-71.068956,Mario,Apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1235.0,NaN,NaN
1950,14798673,https://www.airbnb.com/rooms/14798673,Beacon Hill,Boston,MA,02114,42.358363,-71.068408,Mario,Apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1345.0,NaN,NaN
2204,6451456,https://www.airbnb.com/rooms/6451456,Fenway,Boston,MA,02115,42.345201,-71.088918,Elisa,Apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1372.0,NaN,NaN
2285,12972378,https://www.airbnb.com/rooms/12972378,Fenway,Boston,MA,02215,42.347934,-71.097580,Vladimir,Apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4000.0,NaN,NaN
2448,12962229,https://www.airbnb.com/rooms/12962229,Fenway,Boston,MA,02115,42.341858,-71.089044,Lakshmi,Apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1275.0,NaN,NaN
3055,12679021,https://www.airbnb.com/rooms/12679021,South Boston Waterfront,Boston,MA,02210,42.348358,-71.039875,Robert,Apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3000.0,NaN,NaN
3096,14291722,https://www.airbnb.com/rooms/14291722,South Boston Waterfront,Boston,MA,02210,42.352427,-71.042562,Nastia,Apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1250.0,NaN,NaN

In [60]:
# find all listing with price over 1000
# option 2

df1.query('price_cleaned>1000')

,id,listing_url,neighbourhood_cleansed,city,state,zipcode,latitude,longitude,host_name,property_type,...,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,price_cleaned,total_review_scores,review_score_total
793,6093430,https://www.airbnb.com/rooms/6093430,Roxbury,Boston,MA,02118,42.338626,-71.083315,滢,Apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1400.0,NaN,NaN
1022,8303267,https://www.airbnb.com/rooms/8303267,South End,Boston,MA,02118,42.342415,-71.074519,Lisa,House,...,100.0,10.0,10.0,10.0,10.0,10.0,10.0,1300.0,20.0,60.0
1262,10882267,https://www.airbnb.com/rooms/10882267,Back Bay,Boston,MA,02116,42.349971,-71.081032,Erica,Apartment,...,100.0,10.0,10.0,10.0,10.0,10.0,10.0,1250.0,20.0,60.0
1896,14758045,https://www.airbnb.com/rooms/14758045,Beacon Hill,Boston,MA,02114,42.358002,-71.068956,Mario,Apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1235.0,NaN,NaN
1950,14798673,https://www.airbnb.com/rooms/14798673,Beacon Hill,Boston,MA,02114,42.358363,-71.068408,Mario,Apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1345.0,NaN,NaN
2204,6451456,https://www.airbnb.com/rooms/6451456,Fenway,Boston,MA,02115,42.345201,-71.088918,Elisa,Apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1372.0,NaN,NaN
2285,12972378,https://www.airbnb.com/rooms/12972378,Fenway,Boston,MA,02215,42.347934,-71.097580,Vladimir,Apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4000.0,NaN,NaN
2448,12962229,https://www.airbnb.com/rooms/12962229,Fenway,Boston,MA,02115,42.341858,-71.089044,Lakshmi,Apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1275.0,NaN,NaN
3055,12679021,https://www.airbnb.com/rooms/12679021,South Boston Waterfront,Boston,MA,02210,42.348358,-71.039875,Robert,Apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3000.0,NaN,NaN
3096,14291722,https://www.airbnb.com/rooms/14291722,South Boston Waterfront,Boston,MA,02210,42.352427,-71.042562,Nastia,Apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1250.0,NaN,NaN

In [79]:
# find the most expensive listing
# option 1

max=df1['price_cleaned'].max()

df1[df1.price_cleaned==max]

,id,listing_url,neighbourhood_cleansed,city,state,zipcode,latitude,longitude,host_name,property_type,...,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,price_cleaned,total_review_scores,review_score_total
2285,12972378,https://www.airbnb.com/rooms/12972378,Fenway,Boston,MA,02215,42.347934,-71.09758,Vladimir,Apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4000.0,NaN,NaN

In [80]:
# find the most expensive listing
# option 2

max_index=df1['price_cleaned'].idxmax()

df1.iloc[max_index, :]

id                                                                      12972378
listing_url                                https://www.airbnb.com/rooms/12972378
neighbourhood_cleansed                                                    Fenway
city                                                                      Boston
state                                                                         MA
zipcode                                                                    02215
latitude                                                                 42.3479
longitude                                                               -71.0976
host_name                                                               Vladimir
property_type                                                          Apartment
room_type                                                        Entire home/apt
accommodates                                                                   4
bathrooms                                                                      1
bedrooms                                                                       1
beds                                                                           2
bed_type                                                                Real Bed
amenities                      {TV,Internet,"Wireless Internet","Air Conditio...
square_feet                                                                  NaN
price                                                                  $4,000.00
review_scores_rating                                                         NaN
review_scores_accuracy                                                       NaN
review_scores_cleanliness                                                    NaN
review_scores_checkin                                                        NaN
review_scores_communication                                                  NaN
review_scores_location                                                       NaN
review_scores_value                                                          NaN
price_cleaned                                                               4000
total_review_scores                                                          NaN
review_score_total                                                           NaN
Name: 2285, dtype: object

In [81]:
# find all listing in neighbourhodd Back bay with a price less than 200

#df1.query('neighbourhood_cleansed=="Back Bay" & price_cleaned<200')

df1[(df1.neighbourhood_cleansed=="Back Bay") & (df1.price_cleaned<200)]

,id,listing_url,neighbourhood_cleansed,city,state,zipcode,latitude,longitude,host_name,property_type,...,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,price_cleaned,total_review_scores,review_score_total
1240,12290477,https://www.airbnb.com/rooms/12290477,Back Bay,Boston,MA,02116,42.348648,-71.084337,Lea,Apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,136.0,NaN,NaN
1243,5280183,https://www.airbnb.com/rooms/5280183,Back Bay,Boston,MA,02116,42.353808,-71.078814,LifestyleFurnishedApartments,Apartment,...,93.0,10.0,10.0,10.0,10.0,10.0,10.0,110.0,20.0,60.0
1244,9918240,https://www.airbnb.com/rooms/9918240,Back Bay,Boston,MA,02116,42.351740,-71.081734,Wes,Apartment,...,100.0,10.0,10.0,10.0,9.0,10.0,10.0,170.0,20.0,59.0
1245,11275963,https://www.airbnb.com/rooms/11275963,Back Bay,Boston,MA,02116,42.353628,-71.078026,LifestyleFurnishedApartments,Apartment,...,95.0,9.0,9.0,8.0,7.0,10.0,9.0,130.0,18.0,52.0
1247,4887325,https://www.airbnb.com/rooms/4887325,Back Bay,Boston,MA,02116,42.352612,-71.076027,Kristi,Apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1529,10454061,https://www.airbnb.com/rooms/10454061,Back Bay,Boston,MA,02115,42.350000,-71.082788,Harriette Ferne,Apartment,...,92.0,10.0,10.0,10.0,10.0,10.0,9.0,129.0,20.0,59.0
1533,13992811,https://www.airbnb.com/rooms/13992811,Back Bay,Boston,MA,02116,42.351627,-71.082493,Jinchen,Apartment,...,95.0,10.0,10.0,10.0,10.0,10.0,10.0,97.0,20.0,60.0
1536,10409490,https://www.airbnb.com/rooms/10409490,Back Bay,Boston,MA,02116,42.350555,-71.079399,Shalabh,Apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.0,NaN,NaN
1537,14713259,https://www.airbnb.com/rooms/14713259,Back Bay,Boston,MA,02116,42.349244,-71.077926,Anthony,Condominium,...,95.0,10.0,10.0,10.0,10.0,10.0,10.0,130.0,20.0,60.0
1540,1589392,https://www.airbnb.com/rooms/1589392,Back Bay,Boston,MA,02116,42.354415,-71.077943,LifestyleFurnishedApartments,Apartment,...,100.0,10.0,10.0,10.0,10.0,10.0,10.0,130.0,20.0,60.0

In [82]:
# find all listing in neighbourhodd Back bay with a price less than 200
# display id, property_type and room_type

df1.loc[(df1.neighbourhood_cleansed=="Back Bay") & (df1.price_cleaned<200),
       ['id', 'property_type', 'room_type']
       ]

            id property_type        room_type
1240  12290477     Apartment  Entire home/apt
1243   5280183     Apartment  Entire home/apt
1244   9918240     Apartment  Entire home/apt
1245  11275963     Apartment  Entire home/apt
1247   4887325     Apartment     Private room
...        ...           ...              ...
1529  10454061     Apartment  Entire home/apt
1533  13992811     Apartment     Private room
1536  10409490     Apartment     Private room
1537  14713259   Condominium     Private room
1540   1589392     Apartment  Entire home/apt

[131 rows x 3 columns]

In [84]:
# display top 5 neighbourhood in the dataset

df1['neighbourhood_cleansed'].value_counts().head(5)

Jamaica Plain    343
South End        326
Back Bay         302
Fenway           290
Dorchester       269
Name: neighbourhood_cleansed, dtype: int64

In [153]:
# find all listings in either back bay or south end, with a price between 100 and 150. 
# display id, property_type, room_type, and price_cleaned

df1.loc[(df1.neighbourhood_cleansed.isin(['Back Bay', 'South End'])) | (df1.price_cleaned.between (100, 150)),
       ['id', 'property_type', 'room_type', 'price_cleaned']]

            id property_type        room_type  price_cleaned
13    13547301     Apartment  Entire home/apt          150.0
14     5434353         House  Entire home/apt          145.0
21    13251243         House  Entire home/apt          120.0
23     6400432         House  Entire home/apt          150.0
32    14690527     Apartment  Entire home/apt          150.0
...        ...           ...              ...            ...
3554  14533848         House     Private room          125.0
3565  14335003     Apartment  Entire home/apt          146.0
3576  14689681         House     Private room          124.0
3577  13750763     Apartment     Private room          150.0
3581  14844274     Apartment     Private room          150.0

[1162 rows x 4 columns]

# Adding/Removing columns

In [86]:
# add a price indicator to show whether price is over 1000

df1['price_indicator']=df1.price_cleaned>1000

C:\Users\sli\AppData\Local\Temp/ipykernel_23628/1837503836.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['price_indicator']=df1.price_cleaned>1000

In [87]:
df1[df1['price_indicator']]

,id,listing_url,neighbourhood_cleansed,city,state,zipcode,latitude,longitude,host_name,property_type,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,price_cleaned,total_review_scores,review_score_total,price_indicator
793,6093430,https://www.airbnb.com/rooms/6093430,Roxbury,Boston,MA,02118,42.338626,-71.083315,滢,Apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,1400.0,NaN,NaN,True
1022,8303267,https://www.airbnb.com/rooms/8303267,South End,Boston,MA,02118,42.342415,-71.074519,Lisa,House,...,10.0,10.0,10.0,10.0,10.0,10.0,1300.0,20.0,60.0,True
1262,10882267,https://www.airbnb.com/rooms/10882267,Back Bay,Boston,MA,02116,42.349971,-71.081032,Erica,Apartment,...,10.0,10.0,10.0,10.0,10.0,10.0,1250.0,20.0,60.0,True
1896,14758045,https://www.airbnb.com/rooms/14758045,Beacon Hill,Boston,MA,02114,42.358002,-71.068956,Mario,Apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,1235.0,NaN,NaN,True
1950,14798673,https://www.airbnb.com/rooms/14798673,Beacon Hill,Boston,MA,02114,42.358363,-71.068408,Mario,Apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,1345.0,NaN,NaN,True
2204,6451456,https://www.airbnb.com/rooms/6451456,Fenway,Boston,MA,02115,42.345201,-71.088918,Elisa,Apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,1372.0,NaN,NaN,True
2285,12972378,https://www.airbnb.com/rooms/12972378,Fenway,Boston,MA,02215,42.347934,-71.097580,Vladimir,Apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,4000.0,NaN,NaN,True
2448,12962229,https://www.airbnb.com/rooms/12962229,Fenway,Boston,MA,02115,42.341858,-71.089044,Lakshmi,Apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,1275.0,NaN,NaN,True
3055,12679021,https://www.airbnb.com/rooms/12679021,South Boston Waterfront,Boston,MA,02210,42.348358,-71.039875,Robert,Apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,3000.0,NaN,NaN,True
3096,14291722,https://www.airbnb.com/rooms/14291722,South Boston Waterfront,Boston,MA,02210,42.352427,-71.042562,Nastia,Apartment,...,NaN,NaN,NaN,NaN,NaN,NaN,1250.0,NaN,NaN,True

In [89]:
# create a column price_level, if price is less than 200, price level is Low, if price is between 200 and 500, the levei is medium, 
# if price is between 501 and 1000, the level is high, and if price is over 1000, the price is very high

def classify_price(price):
    if price<200:
        price_level="Low"
    elif price<500:
        price_level="Medium"
    elif price<1000:
        price_level="high"
    else:
        price_level="very high"
    return price_level

df1['price_level']=df1['price_cleaned'].apply(classify_price)

C:\Users\sli\AppData\Local\Temp/ipykernel_23628/2513862974.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['price_level']=df1['price_cleaned'].apply(classify_price)

In [90]:
df1[['price_cleaned', 'price_level']].head()

   price_cleaned price_level
0          250.0      Medium
1           65.0         Low
2           65.0         Low
3           75.0         Low
4           79.0         Low

In [93]:
#df1.pop('price_class')

df1.head()

,id,listing_url,neighbourhood_cleansed,city,state,zipcode,latitude,longitude,host_name,property_type,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,price_cleaned,total_review_scores,review_score_total,price_indicator,price_level
0,12147973,https://www.airbnb.com/rooms/12147973,Roslindale,Boston,MA,02131,42.282619,-71.133068,Virginia,House,...,NaN,NaN,NaN,NaN,NaN,250.0,NaN,NaN,False,Medium
1,3075044,https://www.airbnb.com/rooms/3075044,Roslindale,Boston,MA,02131,42.286241,-71.134374,Andrea,Apartment,...,9.0,10.0,10.0,9.0,9.0,65.0,19.0,57.0,False,Low
2,6976,https://www.airbnb.com/rooms/6976,Roslindale,Boston,MA,02131,42.292438,-71.135765,Phil,Apartment,...,9.0,10.0,10.0,9.0,10.0,65.0,19.0,58.0,False,Low
3,1436513,https://www.airbnb.com/rooms/1436513,Roslindale,Boston,MA,NaN,42.281106,-71.121021,Meghna,House,...,10.0,10.0,10.0,10.0,10.0,75.0,20.0,60.0,False,Low
4,7651065,https://www.airbnb.com/rooms/7651065,Roslindale,Boston,MA,02131,42.284512,-71.136258,Linda,House,...,10.0,10.0,10.0,9.0,10.0,79.0,20.0,59.0,False,Low

In [94]:
# drop the first two rows

df1.drop([0,1]).head(5)

,id,listing_url,neighbourhood_cleansed,city,state,zipcode,latitude,longitude,host_name,property_type,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,price_cleaned,total_review_scores,review_score_total,price_indicator,price_level
2,6976,https://www.airbnb.com/rooms/6976,Roslindale,Boston,MA,02131,42.292438,-71.135765,Phil,Apartment,...,9.0,10.0,10.0,9.0,10.0,65.0,19.0,58.0,False,Low
3,1436513,https://www.airbnb.com/rooms/1436513,Roslindale,Boston,MA,NaN,42.281106,-71.121021,Meghna,House,...,10.0,10.0,10.0,10.0,10.0,75.0,20.0,60.0,False,Low
4,7651065,https://www.airbnb.com/rooms/7651065,Roslindale,Boston,MA,02131,42.284512,-71.136258,Linda,House,...,10.0,10.0,10.0,9.0,10.0,79.0,20.0,59.0,False,Low
5,12386020,https://www.airbnb.com/rooms/12386020,Roslindale,Boston,MA,02131,42.291690,-71.131893,Deborah,Condominium,...,10.0,10.0,10.0,9.0,10.0,75.0,20.0,59.0,False,Low
6,5706985,https://www.airbnb.com/rooms/5706985,Roslindale,Boston,MA,02131,42.281390,-71.131190,Juliet,Apartment,...,10.0,10.0,10.0,9.0,9.0,100.0,20.0,58.0,False,Low

In [95]:
# drop column state

df1.drop(['state'], axis=1)

,id,listing_url,neighbourhood_cleansed,city,zipcode,latitude,longitude,host_name,property_type,room_type,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,price_cleaned,total_review_scores,review_score_total,price_indicator,price_level
0,12147973,https://www.airbnb.com/rooms/12147973,Roslindale,Boston,02131,42.282619,-71.133068,Virginia,House,Entire home/apt,...,NaN,NaN,NaN,NaN,NaN,250.0,NaN,NaN,False,Medium
1,3075044,https://www.airbnb.com/rooms/3075044,Roslindale,Boston,02131,42.286241,-71.134374,Andrea,Apartment,Private room,...,9.0,10.0,10.0,9.0,9.0,65.0,19.0,57.0,False,Low
2,6976,https://www.airbnb.com/rooms/6976,Roslindale,Boston,02131,42.292438,-71.135765,Phil,Apartment,Private room,...,9.0,10.0,10.0,9.0,10.0,65.0,19.0,58.0,False,Low
3,1436513,https://www.airbnb.com/rooms/1436513,Roslindale,Boston,NaN,42.281106,-71.121021,Meghna,House,Private room,...,10.0,10.0,10.0,10.0,10.0,75.0,20.0,60.0,False,Low
4,7651065,https://www.airbnb.com/rooms/7651065,Roslindale,Boston,02131,42.284512,-71.136258,Linda,House,Private room,...,10.0,10.0,10.0,9.0,10.0,79.0,20.0,59.0,False,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3580,8373729,https://www.airbnb.com/rooms/8373729,Charlestown,Somerville,02143,42.380968,-71.083795,Joe,Apartment,Private room,...,10.0,10.0,10.0,8.0,9.0,69.0,20.0,57.0,False,Low
3581,14844274,https://www.airbnb.com/rooms/14844274,Allston,Brookline,02446,42.347503,-71.118336,Ivy,Apartment,Private room,...,NaN,NaN,NaN,NaN,NaN,150.0,NaN,NaN,False,Low
3582,14585486,https://www.airbnb.com/rooms/14585486,Charlestown,Cambridge,02141,42.371771,-71.071300,Vera,Apartment,Entire home/apt,...,NaN,NaN,NaN,NaN,NaN,198.0,NaN,NaN,False,Low
3583,14603878,https://www.airbnb.com/rooms/14603878,Charlestown,Somerville,02145,42.385226,-71.080923,Medi,Apartment,Private room,...,8.0,9.0,9.0,8.0,7.0,65.0,17.0,50.0,False,Low
3584,14504422,https://www.airbnb.com/rooms/14504422,Charlestown,Somerville,02145,42.387888,-71.080654,Rachel,Apartment,Private room,...,NaN,NaN,NaN,NaN,NaN,65.0,NaN,NaN,False,Low

# Take home assignments

## Complete the following six questions by the due date. Please submit the completed notebook by the due date

- 1. Calcuate summary statistics of review scores rating for all listing in Fenway
- 2. find all listings in Fenway with review score rating over 80 and more than two bedrooms
- 3. find percentage of listing with a price over $500
- 4. create a column review_score_stars based on review scores rating, if rating is over and equal to 80, five stars, if rating is between 60 and 79, 4 stars, if rating is between 40 and 59, 3 stars, if rating is between 20 and 39, 2 starts, if rating is less than or equal to 20, 1 star
- 5. find the listings with more than 3 bedrooms, display the listing with the highest review score in cleanliness 
- 6. create a column review_score_total that addes the six review scores: accuracy, cleanliness, checkin, communication, locations,and value

In [4]:
# import the listings, select columns and convert price from string to float

df=pd.read_csv('airbnb_boston/listings.csv')

selected_columns=['id', 'listing_url', 'neighbourhood_cleansed',
       'city', 'state', 'zipcode', 'latitude', 'longitude','host_name',
       'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price','review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value']

df1=df[selected_columns]

# price is a string

# remove $ and thousand seperator ,

df1['price_cleaned']=df1['price'].str.replace('$',"").str.replace(',',"")

# convert price from string to int

df1['price_cleaned']=df1['price_cleaned'].astype(float)

#df1.loc[:, 'price_cleaned']=df1.loc[:, 'price_cleaned'].astype(float)

df1.head()

C:\Users\sli\AppData\Local\Temp/ipykernel_26388/1611994140.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['price_cleaned']=df1['price'].str.replace('$',"").str.replace(',',"")
C:\Users\sli\AppData\Local\Temp/ipykernel_26388/1611994140.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['price_cleaned']=df1['price_cleaned'].astype(float)

,id,listing_url,neighbourhood_cleansed,city,state,zipcode,latitude,longitude,host_name,property_type,...,square_feet,price,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,price_cleaned
0,12147973,https://www.airbnb.com/rooms/12147973,Roslindale,Boston,MA,02131,42.282619,-71.133068,Virginia,House,...,NaN,$250.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,250.0
1,3075044,https://www.airbnb.com/rooms/3075044,Roslindale,Boston,MA,02131,42.286241,-71.134374,Andrea,Apartment,...,NaN,$65.00,94.0,10.0,9.0,10.0,10.0,9.0,9.0,65.0
2,6976,https://www.airbnb.com/rooms/6976,Roslindale,Boston,MA,02131,42.292438,-71.135765,Phil,Apartment,...,NaN,$65.00,98.0,10.0,9.0,10.0,10.0,9.0,10.0,65.0
3,1436513,https://www.airbnb.com/rooms/1436513,Roslindale,Boston,MA,NaN,42.281106,-71.121021,Meghna,House,...,NaN,$75.00,100.0,10.0,10.0,10.0,10.0,10.0,10.0,75.0
4,7651065,https://www.airbnb.com/rooms/7651065,Roslindale,Boston,MA,02131,42.284512,-71.136258,Linda,House,...,NaN,$79.00,99.0,10.0,10.0,10.0,10.0,9.0,10.0,79.0

In [97]:
df1.shape

(3585, 27)

 1. Calcuate summary statistics of review scores rating for all listing in Fenway

2. find all listings in Fenway with review score rating over 80 and more than two bedrooms

3. find percentage of listing with a price over $500

 4. create a column review_score_stars based on review scores rating, if rating is over and equal to 80, five stars, if rating is between 60 and 79, 4 stars, if rating is between 40 and 59, 3 stars, if rating is between 20 and 39, 2 starts, if rating is less than or equal to 20, 1 star

 5. find the listings with more than 3 bedrooms, find the listing with the highest review score in cleanliness

6. create a column review_score_total that addes the six review scores together: accuracy, cleanliness, checkin, communication, locations,and value